body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  margin-left: 6px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  height: 36px;
  padding-bottom: 4px;
}

.todo-name {
  margin-right: 4px;
}
